// Логотип
.logo {
    max-width: 80px;
}

// Большая иконка
.submit-pic {
    font-size: calc(var(--font-50) * 2);
}

// Шапка документа
.header {
    top  : var(--size-4);
    left : 0;
    right: 0;

    &--top {
        top             : 0;
        padding-top     : var(--size-2);
        padding-bottom  : var(--size-2);
        background-color: var(--color-dark);
    }

    @media(max-width: $laptop) {
        &--top {
            padding-top   : 0;
            padding-bottom: 0;
        }
    }

    @media(max-width: $tablet) {
        & {
            top: 0;
        }
    }
}

// Мобильное меню
.mobile {
    top             : 0;
    left            : 0;
    bottom          : 0;
    right           : 0;
    max-width       : 375px;
    background-color: var(--color-black-90);
    box-shadow      : 0 0 0 100vw var(--color-black-50);

    &:not(&--show) {
        transform : translateX(-100%);
        opacity   : 0;
        visibility: hidden;
    }

    &:not(&--show) &__head {
        transform: translateY(-80px);
    }

    &:not(&--show) &__nav {
        transform: translateX(-220px);
        opacity  : 0;
    }

    &:not(&--show) &__footer {
        transform: translateY(30px);
        opacity  : 0;
    }

    &__accordion:is([data-accordion="active"]) &__arrow {
        transform: rotate(90deg);
    }

    &__btn {
        width : var(--size-10);
        height: var(--size-10);
    }

    &--show {
        transform : translateX(0);
        opacity   : 1;
        visibility: visible;
    }

    &--show &__head {
        transform: translateY(0);
    }

    &--show &__nav {
        transform: translateX(0);
        opacity  : 1;
    }

    &--show &__footer {
        transform: translateY(0);
        opacity  : 1;
    }
}

// Анимированные линии
.line {
    content      : '';
    position     : absolute;
    width        : 700px;
    height       : 1px;
    border-radius: 50%;
    background   : var(--color-white);
    filter       : blur(var(--size-2));
    opacity      : 0;
    animation    : lines 2.5s infinite linear both;

    &--1 {
        top      : calc(50% - 30px);
        left     : calc(50% - 380px);
        transform: rotateZ(-45deg);
    }

    &--2 {
        top            : calc(50% + 20px);
        left           : calc(50% - 832px);
        transform      : rotateZ(-45deg);
        animation-delay: 1s;
    }

    &--3 {
        top            : calc(50% + 120px);
        left           : calc(50% - 856px);
        transform      : rotateZ(-45deg);
        animation-delay: 2s;
    }

    &--4 {
        top            : calc(50% - 120px);
        left           : calc(50% + 380px);
        transform      : rotateZ(-45deg);
        animation-delay: 3s;
    }

    @media(max-width: $mobile) {
        &--2 {
            top : calc(50% - 80px);
            left: calc(50% - 500px);
        }
    }
}

// Градиент текста
.text-clip {
    &-green {
        background             : linear-gradient(270deg, #066A34 29.79%, rgba(6, 106, 52, 0.39) 100%), var(--color-black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip        : text;
        text-fill-color        : transparent;
    }

    &-gold {
        background             : linear-gradient(270deg, #D09B28 29.79%, rgba(208, 155, 40, 0.39) 100%), var(--color-black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip        : text;
        text-fill-color        : transparent;
    }
}

// Тень
.box-shadow {
    box-shadow: 0 var(--size-1) var(--size-2) var(--color-black-10);
}

.text-shadow {

    @media(max-width: $mobile) {
        & {
            text-shadow: 0 var(--size-1) var(--size-1) var(--color-black-40);
        }
    }
}

// Контакты
.contacts {
    height: 580px;

    &__bg {
        top   : 0;
        left  : 0;
        right : 0;
        bottom: 0;
    }

    &__content {
        padding     : 50px;
        max-width   : 400px;
        margin-right: 13%;
        background  : linear-gradient(180deg, var(--color-black-30) 0%, var(--color-black-10) 100%);
    }

    &__image {
        max-width     : 1550px;
        left          : 0;
        bottom        : calc(-1 * var(--size-1));
        pointer-events: none;
    }

    @media(max-width: $laptop) {
        &__content {
            margin-right: 0%;
        }
    }

    @media(max-width: $tablet) {
        & {
            border-radius: 0;
        }

        &__content {
            margin-left: 0;
            max-width  : 100%;
        }
    }

    @media(max-width: $mobile) {
        & {
            display        : flex;
            align-items    : center;
            justify-content: center;
        }

        &__content {
            padding      : 0;
            background   : none;
            border-radius: 0;
        }
    }
}

// Социальные сети
.social {
    &__item {
        &--tg {
            background-color: rgba(41, 168, 234, 0.2);
        }

        &--yt {
            background-color: rgb(241, 90, 90, 0.2);
        }
    }

    &__icon {
        font-size: 110px;
    }

    @media(max-width: $laptop) {
        &__item {
            flex-direction : column;
            justify-content: center;
        }

        &__content {
            text-align : center;
            align-items: center;
        }
    }

    @media(max-width: $mobile) {
        &__icon {
            font-size: 70px;
        }
    }
}

// Подвал
.footer {

    @media(max-width: $mobile) {
        & {
            flex-direction : column;
            justify-content: center;
        }
    }
}